{% extends "rides_offered/base.html" %}
{% block content %}
    {% for ride in rides %}
        <div class="col-auto">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ ride.driver }}</a>
                        <small class="text-muted">{{ ride.date }}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ ride.dest }}</a></h2>
                    <p class="article-content">cena: {{ ride.cost }}</p>
                </div>
            </article>
        </div>
    {% endfor %}
    <div class="col-auto">
        <form>
            <div class="form-group row">
                <label for="inputDateTime" class="col-sm-5 col-form-label">Datum odjezdu:</label>
                <div class='col-sm-7'>
                    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4"/>
                        <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputDateTime" class="col-sm-5 col-form-label">Datum odjezdu:</label>
                <div class='col-sm-7'>
                    <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3"/>
                        <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="inputCords1" class="col-sm-5 col-form-label">Souřadnice místa odjezdu:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="Souřadnice">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputCords2" class="col-sm-5 col-form-label">Souřadnice destinace:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="Souřadnice">
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
