{% extends "rides_offered/base.html" %}
{% block content %}
	<div class="col">
			<div class="row mb-3">
				<input type="button" class="btn btn-primary float-left" id="toggleFormBtn" value="Nový vývoz" onclick="toggleOfferForm()">
			</div>
		</div>
        <form class="col-sm-7 mb-3" id="offer-form" style="display: none">
            <div class="form-group row">
                <label for="inputDateTime" class="col-sm-5 col-form-label">Datum a čas odjezdu:</label>
                <div class='col-sm-7'>
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" placeholder="DD.MM.YYYY" />
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputCords1" class="col-sm-5 col-form-label">Místo odjezdu:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputCords1">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputCords2" class="col-sm-5 col-form-label">Destinace:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputCords2">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputCost" class="col-sm-5 col-form-label">Počet míst:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputCost">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputCar" class="col-sm-5 col-form-label">Cena/os:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputCar">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputCar" class="col-sm-5 col-form-label">Auto:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputCar">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-success float-right" value="Přidat" 
                    onclick="passOfferValues()">
                </div>
            </div>
        </form>

        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Datum</th>
                <th scope="col">Čas odjezdu</th>
                <th scope="col">Destinace</th>
                <th scope="col">Místo srazu</th>
                <th scope="col">Obsazenost</th>
                <th scope="col">Auto</th>
                <th scope="col">Cena/os</th>
                
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
